{% extends "base.html.twig" %}

{% block content%}

        <div class="card">
            <div class="cardTop">
                <div class="cardImageProfile">
                    {# voir pour le lien avec l image ne marche pas #}
                    <img src="../assets/images/borat.jpg" alt="" class="resp userCardImage">
                </div>
                <div class="cardName">
                    <h2>{{ user.getName() }}</h2>
                    <h4>({{ user.getShortname() }})</h4>
                </div>
            </div>
            <div class="cardReknown">
                <h5>{{ user.getReknown() }}</h5>
            </div>
            <div class="cardBio">
                <h6>{{ user.getBio() }}</h6>
            </div>
        </div>

{% endblock %}